<!-- DNS preconnect -->
<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="preconnect" href="https://use.fontawesome.com" crossorigin />
<link rel="preconnect" href="//cdnjs.cloudflare.com" />
<link rel="preconnect" href="//www.googletagmanager.com" />
<link rel="preconnect" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="https://use.fontawesome.com" />
<link rel="dns-prefetch" href="//ajax.googleapis.com" />
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
<link rel="dns-prefetch" href="//www.googletagmanager.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//connect.facebook.net" />
<link rel="dns-prefetch" href="//platform.linkedin.com" />
<link rel="dns-prefetch" href="//platform.twitter.com" />

<!-- google fonts -->
{{ $pf := site.Data.theme.fonts.font_family.primary }}
{{ $sf := site.Data.theme.fonts.font_family.secondary }}
{{ $pf_name := index (split $pf ":") 0 }}
{{ $sf_name := index (split $sf ":") 0 }}
{{ $pf_type := site.Data.theme.fonts.font_family.primary_type | default "sans-serif" }}
{{ $sf_type := site.Data.theme.fonts.font_family.secondary_type | default "sans-serif" }}
{{ $fontsURL := printf "https://fonts.googleapis.com/css2?family=%s%s&display=swap" ($pf | safeURL) (cond (ne $sf "") (printf "&family=%s" ($sf | safeURL)) "") }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- preload primary font stylesheet -->
<link rel="preload" as="style" href="{{ $fontsURL }}" />

<!-- non-blocking font stylesheet: loads asynchronously via media swap -->
<link
  rel="stylesheet"
  href="{{ $fontsURL }}"
  media="print"
  onload="this.media='all'; this.onload=null;" />

<!-- fallback for browsers with JS disabled -->
<noscript>
  <link rel="stylesheet" href="{{ $fontsURL }}" />
</noscript>

<!-- font-display fallback: show text immediately with system font stack -->
<style>
  :root {
    --font-primary-fallback: {{ $pf_type }};
    --font-secondary-fallback: {{ $sf_type }};
  }
</style>

<!-- main styles -->
{{ $styles := slice }}
{{ $stylesLazy := slice }}

{{ range site.Params.plugins.css }}
  {{ $plugin := . }}
  {{ if findRE "^http" .link }}
    <link
      crossorigin="anonymous"
      media="all"
      rel="stylesheet"
      href="{{ .link | relURL }}"
      {{ .attributes | safeHTMLAttr }} />
  {{ else }}
    {{ with resources.Get .link }}
      {{ if not $plugin.lazy }}
        {{ $styles = $styles | append . }}
      {{ else }}
        {{ $stylesLazy = $stylesLazy | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $mainCSS := resources.Get "css/main.css" }}
{{ $tailwindOpts := dict "inlineImports" true }}
{{ $tailwindCSS := $mainCSS | css.TailwindCSS $tailwindOpts }}

{{ $styles = $styles | append $tailwindCSS }}
{{ $styles = $styles | resources.Concat "css/style.css" }}

{{ if $stylesLazy }}
  {{ $stylesLazy = $stylesLazy | resources.Concat "css/style-lazy.css" }}
{{ else }}
  {{ $stylesLazy = resources.FromString "css/style-lazy.css" "/* empty */" }}
{{ end }}

{{ if hugo.IsProduction }}
  {{ $styles = $styles | fingerprint }}
  {{ $stylesLazy = $stylesLazy | minify | fingerprint }}
{{ end }}


<!-- link main style -->
<link
  href="{{ $styles.RelPermalink }}"
  integrity="{{ $styles.Data.Integrity }}"
  rel="stylesheet" />

<!-- link lazy style -->
<link
  rel="stylesheet"
  href="{{ $stylesLazy.RelPermalink }}"
  integrity="{{ $stylesLazy.Data.Integrity }}"
  media="print"
  onload="this.media='all'; this.onload=null;" />
